.TaskCreation {
  display: flex;
  width: 100%;
  margin-top: 10px;
  height: 100%;
  background-color: white;
  padding: 10px;
  flex-direction: column;
  column-gap: 10px;
  overflow: hidden;
}

.MainForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.Box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  row-gap: 10px;
}

.InlineFlex {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.HoverDropdownContentChildren {
  transition: 0.2s;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.CreateButton {
  width: 200px;
  align-self: end;
  margin-top: 15px;
}

.DeleteButton {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: fit-content;
  background-color: rgba(245, 81, 31, 0.3);
  color: #F5511F;
}

.CreateButton:focus {
  outline: none;
}

.DeleteButton:focus {
  outline: none;
}

.HoverDropdownContentChildren:hover {
  cursor: pointer;
  background-color: #e5e5e5;
  transition: 0.2s;
}

.Selected {
  background-color: #e5e5e5;
}

.CreateSprint {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.KanBanMain {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 100%;
  overflow: hidden;
}

.SprintTitle {
  display: flex;
  flex-direction: row;
  height: fit-content;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  padding: 0px 0px 10px 0px;
  align-items: center;
  column-gap: 10px;
}

.SprintInput {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.SprintLabel {
  font-size: 12px;
  color: #696969;
}

.SprintTitleInput {
  height: 35px;
  font-size: medium;
  font-weight: 500;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 100%;
  color: #333;
  justify-content: center;
  text-align: left;
}

.SprintTitleInput:focus {
  outline: none;
}

.SprintTimeline {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-top: 10px;
}

.SprintDatePicker {
  height: 35px;
  background-color: #f1f1f1;

}

.HoverInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: fit-content;
  min-width: 100px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}

.HoverInput:hover {
  cursor: pointer;
}

.DurationInputWrapper {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  height: 35px;
  width: fit-content;
}

.DurationInput {
  margin-right: 8px; /* Adjust spacing between input and dropdown */
  padding: 8px;
  border: none;
  width: 50px;
  border-radius: 4px;
  height: 35px;
  background-color: transparent;
  color: #333;
}

.DurationDropdown {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: white;
  height: 35px;
  background-color: transparent;
  color: #333;
}

.DurationDropdown:focus {
  outline: none;
}

.DurationInput:focus {
  outline: none;
}

.SprintDescription {
  margin-top: 10px;
  width: 100%;
  height: fit-content;
}

.Description {
  max-width: 100%;
  min-width: 100%;
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.StrategicObjective {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.Description:focus {
  outline: none;
}

.SprintLabelFooter {
  font-size: 10px;
  color: rgb(135, 135, 135);
  align-self: center;
  margin-top: 5px;
}

.TaskManager {
  display: flex;
  flex-direction: column;
  margin: 10px 5px 5px 5px;
  align-items: start;
  justify-content: center;
  width: calc(100% - 10px);
  height: fit-content;
  box-shadow: 0px 0px 5px #e5e5e5;
  padding: 10px;
  border-radius: 5px;
}

.TaskList {
  width: 100%;
  margin-top: 10px;
}

.TaskView {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}

.CreateTask {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 10px;
}

.HoverDropdownContentChildren {
  transition: 0.2s;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.HoverDropdownContentChildren:hover {
  cursor: pointer;
  background-color: #e5e5e5;
  transition: 0.2s;
}

.Selected {
  background-color: #e5e5e5;
}

.InputRow {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  column-gap: 30px;
}

.KanBan {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex: 4;
  height: 420px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.KanBanBar {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: fit-content;
  width: fit-content;
}

.KanBanColumn {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  height: fit-content;
  min-height: 400px;
  height: 100%;
  min-width: 250px;
  background-color: #f1f1f1;
  text-align: left;
  overflow-y: scroll;
}

.KanBanCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #e5e5e5;
  color: #333;
  background-color: white;
  padding: 10px;
  row-gap: 5px;
}

.KanBanCardTextRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}

.Icon:hover {
  cursor: pointer;
}


/* Below is new styling for form */


.StepContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  text-align: left;
}

.StepInput {
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  font-weight: 400;
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
  border: none;
}

.StepInputArea {
  width: 100%;
  height: fit-content;
  font-weight: 400;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  background-color: white;
  color: #333;
  border: none;
  min-height: 200px;
  max-height: 592px;
  min-width: 100%;
  max-width: 100%;
}

.StepInputArea:focus {
  outline: none;
}

.StepInput:focus {
  outline: none;
}

.Stepper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Step {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}

.StepLabel {
  font-size: 14px;
  color: #303030;
}

.ActiveStep .StepLabel {
  color: #303030;
}

.StepNumber {
  text-align: center;
  background-color: #333;
  border-radius: 100%;
  color: #999;
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
}

.Examples {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
}

.SelectedSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  width: 100%;
  height: fit-content;
  min-height: 160px;
  padding: 10px;
  max-width: 100%;
  margin-top: 10px;
}



.Skill {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: fit-content;
  min-width: 100px;
  padding: 10px 20px;
  border-radius: 150px;
  border: none;
  background-color: white;
  align-items: center;
  justify-content: start;
  column-gap: 10px;
  font-size: 30px;
}



.ButtonRow {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
}

.SkillSearchContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  column-gap: 10px;
}

.SkillSearch {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: fit-content;
  font-size: 26px;
  padding: 10px;
  border: none;
  color: #303030;
}

.SkillSearch:focus {
  outline: none;
}

.HoverDropdownContentChildren {
  transition: 0.2s;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.HoverDropdownContentChildren:hover {
  cursor: pointer;
  background-color: #e5e5e5;
  transition: 0.2s;
}

.Selected {
  background-color: #e5e5e5;
}

.Budget {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #f1f1f1;
  width: 100%;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.BudgetOptions {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: fit-content;
  height: fit-content;
}

.BudgetOption {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

