.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: transparent;
  border-radius: 5px;
  column-gap: 10px;
  padding: 8px;
}

.timerDisplay {
  font-size: 15px;
  font-weight: bold;
  color: #2ec4b6;
  text-align: center;
}

.button {
  background-color: #e5e5e5;
  color: #2ec4b6;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 55px;
  height: 39px;
}

.button:focus {
  outline: none;
}

.TimeEdit {
  display: flex;
  width: fit-content;
  padding: 5px 10px;
  height: 39px;
  border-radius: 5px;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
}

.TimeEdit:hover {
  transition: 0.2s;
  cursor: pointer;
  background-color: #e5e5e5;
}

.TimeEdit:focus {
  outline: none;
}