.TableView {
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
  /* padding: 10px 0px; */
  background-color: transparent;
}

.ToastContainerStyle {
  width: fit-content !important;
}

.Row {
  transition: 0.2s;
}

.Row:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  transition: 0.2s;
}

.RowCell {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 1px;
}

.MemberImage {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.CreateButton {
  height: 35px;
  width: fit-content;
  flex-wrap: nowrap;
  padding: 5px;
  background-color: transparent;
  background-color: #f1f1f1;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 0.2s;
  column-gap: 5px;
  border-radius: 5px;
  font-size: small;
  min-width: 100px;
}

.CreateButton:hover {
  background-color: #e5e5e5;
}

.CreateButton:focus {
  outline: none;
}

.Icon {
  height: 30px;
  width: 30px;
  padding: 5px;
  color: rgba(159, 0, 159, 0.551);
  border-radius: 2px;
  transition: 0.2s;
}

.Icon:hover {
  cursor: pointer;
  background-color: white;
  transition: 0.2s;
}

.StatusText {
  background-color: rgba(255, 159, 28, 0.3);
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  align-self: end;
  text-align: right;
}