.AppBar {
  position: static;
  max-height: 75px;
  margin-top: 0px;
  box-shadow: none;
  width: 100%;
}

.ToolBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: none;
  background-color: #f5f5f5;
  align-items: center;
}

.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Logo:hover {
  cursor: pointer !important;
}

.LogoImage {
  width: 100%;
  max-width: 100px;
  max-height: 50px;
}

.ButtonGroupRow {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: fit-content;
  justify-content: end;
  align-items: center;
}

.HoverDropdownContentChildren {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  transition: 0.2s;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.HoverDropdownContentChildren:hover {
  background-color: #f1f1f1;
  transition: 0.2s;
  cursor: pointer;
}

.LandingAppBarButton {
  height: fit-content;
  width: fit-content;
  padding: 5px;
  background-color: transparent;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  transition: 0.2s;
}

.LandingAppBarButton:hover {
  background-color: #e5e5e5;
}

.LandingAppBarButton:focus {
  outline: none;
}

.DropdownContentRow {
  display: flex;
  flex-direction: row;
}
.DropdownContentRowLeft {
  display: flex;
  flex-direction: column;
}
.DropdownContentRowRight {
  display: flex;
  flex-direction: column;
}