.LandingPage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  max-height: 100vh;
  background-color: white;
  align-items: center;
  overflow-y: hidden;
}

.Main {
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  row-gap: 80px;
  overflow-y: scroll;
}

.ContentRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 40px);
  min-height: 200px;
  margin: 20px 0px 20px 0px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #e5e5e5;
  padding: 20px;
  justify-content: space-between;
}

.ContentRowTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  margin-top: 20px;
}

.ContentColumn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 20px;
  text-align: left;
  height: 100%;
  width: fit-content;
  max-width: 50%;
}

.FullWidthContentColumn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  text-align: left;
  height: fit-content;
  width: fit-content;
  max-width: 100%;
}

.ContentColumnReversed {
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 20px;
  text-align: right;
  align-items: end;
  height: 100%;
  width: fit-content;
  min-width: 50%;
}

.TextWithIcon {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
  width: fit-content;
  height: fit-content;
  transition: 0.2s;
}

.TextWithIcon:hover {
  color: rgba(201, 57, 240, 0.765);
  transition: 0.2s;
  cursor: pointer;
}

.ContentColumnFit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  text-align: left;
  height: 100%;
}

.ContentColumnBottom {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  text-align: left;
  align-items: start;
  padding: 20px 0px 10px 0px;
}

.ContentColumnBottomText {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: start;
  align-items: center;
  row-gap: 20px;
  text-align: left;
  align-items: start;
}

.ContentColumnNested {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  text-align: left;
  align-items: start;
}

.ContentColumnAlignLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  row-gap: 20px;
}

.RowImage {
  max-height: 400px;
  align-self: center;
}

.ColumnImage {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.ColumnImageSmall {
  height: 600px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.KamariOffers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #e5e5e5;
  padding: 10px;
  row-gap: 20px;
}

.Offer {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
}

.KamariGraphic {

}