.Signup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
}

.Message {
  flex: 1;
  display: flex;
  height: 80%;
  width: 80%;
  border-right: 2px solid #f1f1f1;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.MessageGraphic {
  max-width: 300px;
  max-height: 300px;
  align-self: center;
}

.MessageText {
  max-width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.SignupForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Invitee {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: start;
  align-items: start;
  text-align: left;
  width: 100%;
  min-height: 75px;
  height: fit-content;
  box-shadow: 0px 0px 10px #e5e5e5;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .Signup {
    flex-direction: column;
  }
  .Message {
    display: none;
  }
}

.SprintInput {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  margin-top: 15px;
  width: 100%;
}

.SprintLabel {
  font-size: 12px;
  color: #696969;
}

.SprintTitleInput {
  height: 35px;
  font-size: medium;
  font-weight: 500;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 100%;
  justify-content: center;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
}

.SprintTitleInput:focus {
  outline: none;
}

.PrefixWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 0px 0px 0px 10px;
}

.Prefix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AuthForm {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  min-width: 50%;
}